<footer>
	<div id="footer-bg">
		<section id="footer-bg-white">
		<div class="centered-test">
			<section class="footer-left-links">
				<h4 id="opeheader">För läraren<h4>
				<span id="opelinkit">
					<ul>
						<li>
							<a href="/fi/torstaimika">Vad är Virtuellakommunen.net?</a>
						</li>
						<li>
							<a href="/fi/tutustu">Om Spelet Lyckans</a>
						</li>
					</ul>
				</span>
			</section>
			<section class="footer-middle-links">
				<h4 id="tietoheader">Information<h4>
				<span id="tietolinkit">
					<ul>
						
						<li>
							<a href="/fi/tietoajatehtavia/mikaonkunta">Vad är en kommun?</a>
						</li>
						<li>
							<a href="/fi/tietoajatehtavia/kuntalaisenabc">Kommuninvånarens ABC</a>
						</li>
						<li>
							<a href="/fi/tietoajatehtavia/kunnantalous">Kommunens ekonomi</a>
						</li>
						<li>
							<a href="/fi/tietoajatehtavia/kuntaliitokset1">Kommunernas uppgifter</a>
						</li>
						<li>
							<a href="/fi/tietoajatehtavia/kuntientehtavat">Kommunsammanslagningar</a>
						</li>
					</ul>
				</span>
			</section>
			<section class="footer-right-links">
				<h4 id="peliheader">Spel<h4>
				<span id="pelilinkit">
					<ul>
						<li>
							<a href="/tutustu">Spel</a>
						</li>
						<li>
							<a href="http://lykkyla.virtuaalikunta.net/">Lyckans</a>
						</li>
						<li>
							<a href="/">Kommunerna på kartan</a>
						</li>
					</ul>
				</span>
			</section>
			</div>
		</section>

		<section id="footer-gray-band">
			<div class="footer-gray-band-centered-area">
				<span class="green-square">
					<img src="/themes/viku/images/green_square.png"/>
					<a href="#">Ta kontakt</a></span>
				<span class="magenta-square">
					<img src="/themes/viku/images/magenta_square.png" alt="">
					<a href="#">Tyck till</a>
				</span>
				<span class="fb-square">
					<a href="http://www.facebook.com/sharer.php?u=http%3a%2f%2fwww.virtuaalikunta.net%2ffi%2fSivut%2fdefault.aspx&amp;t=Virtuellakommunen.net">
					<img src="/themes/viku/images/fbook.png" alt="">Rekommendera</a>
				</span>
				<span class="blue-square">
					<img src="/themes/viku/images/lblue.png" alt="">
					<a href="http://www.kunnat.net" target="_blank">Kunnat.net</a>
				</span>
				<span class="blue-square">
					<img src="/themes/viku/images/lblue.png" alt="">
					<a href="http://www.kommunerna.net" target="_blank">Kommunerna.net</a>
				</span>
			</div>
		</section>

		<section id="footer-copyright">
			<span class="copyright-text">&copy; Suomen Kuntaliitto</span>
		</section>
	</div>
</footer>